
.Description {
	display: block;
	background-color: lightgray;

}

.table-height td {
  height: 300px;
}

.grid-container {
  display: grid;
}


.resume {
	float: right;
	width: 50%;
}

.cover {
	float: left;
	width: 50%;

}